:root {
    --checkbox-text: var(--global-text);
	--checkbox-filler: var(--global-text);
	--slider-bg: rgba(var(--global-text-rgb), .16);
	--slider-bg-hover: rgba(var(--global-text-rgb), .32);

	--start-logo-clr: var(--global-text);
	--start-bg: var(--global-text);
	--start-bg-decoration: rgba(var(--global-text-accent-rgb), .5);
	--start-text: rgba(var(--global-bg-accent-rgb), .32);
	--start-text-active: rgba(var(--global-bg-accent-rgb), 1);
	--start-progress-bg: rgba(var(--global-bg-accent-rgb), .16);
	--start-progress-filler: var(--global-clr);
	--start-button-bg: var(--global-clr);
	--start-button-text: var(--global-text);
	--start-button-bg-active: rgba(var(--global-clr-accent-rgb), 1);
	--start-button-text-active: var(--global-text);

	--header-bg: var(--global-text);
	--header-text: var(--global-text-accent);
	--header-text-active: var(--global-clr);
	--header-profile-username: var(--header-text-active);
	--header-profile-logout: var(--header-text);
	--header-profile-border: var(--header-text-active) 4px solid;
	--header-sysbuttons-bg: rgba(var(--global-clr-rgb), 0);
	--header-sysbuttons-bg-hover: rgba(var(--global-clr-rgb), 1);
	--header-sysbuttons-icon: var(--global-bg);
	--header-sysbuttons-icon-hover: var(--global-text);

	--main-bg: rgba(var(--global-bg-rgb), .85);
	--main-text: var(--global-text);
	--main-text-rgb: var(--global-text-rgb);
	--main-h1: var(--main-text);
	--main-text-p-opacity: .32;
	--main-text-p-opacity-hover: .5;
	--main-button-bg: var(--global-clr);
	--main-button-text: var(--global-text);
	--main-button-bg-active: var(--global-text);
	--main-button-text-active: var(--global-clr);
	--main-button-bg-locked: var(--global-clr);
	--main-button-text-locked: var(--global-text);
	--main-sidepanel-bg: rgba(var(--global-bg-accent-rgb), .32);

	--footer-bg: rgba(var(--global-bg-accent-rgb), .32);
	--footer-h1: var(--global-text);
	--footer-p: rgba(var(--global-text-rgb), .32);
	--footer-download-bg: rgba(var(--global-text-rgb), .08);
	--footer-download-filler: var(--global-clr);
	--footer-button-bg: var(--global-clr);
	--footer-button-text: var(--global-text);
	--footer-button-bg-active: var(--global-text);
	--footer-button-text-active: var(--global-clr);
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif,apple color emoji, segoe ui emoji, segoe ui symbol;
}

body{
    overflow: hidden;

    transition: backdrop-filter .8s cubic-bezier(0.23, 1, 0.320, 1);
}

p{
    display: flex;
}

p .loading{
    margin-left: 2px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.unactive{
    opacity: .4;
    pointer-events: none;
}

.menu{
    -webkit-app-region: drag;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    width: 100%;
    height: 31px;
    display: flex;
    justify-content: space-between;

    z-index: 10;
}

.cursor-default{
    cursor: default !important;
}

.cursor-default:hover{
    cursor: default !important;
}

.menu-panel{
    height: 31px;
    flex: 1;
}

.menu-buttons{
    -webkit-app-region: no-drag;
    height: 31px;
    display: flex;
}

.exit{
    width: 47px;
    height: 31px;
    background-color: var(--header-sysbuttons-bg);
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color .2s;
}

.reload{
    width: 47px;
    height: 31px;
    background-color: var(--header-sysbuttons-bg);
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color .2s;
}

.minimize{
    width: 47px;
    height: 31px;
    background-color: var(--header-sysbuttons-bg);
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color .2s;
}

button{
    background: #FFF;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: background-color .2s cubic-bezier(0.25, 0.46, 0.45, 0.94),
                color .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

button:hover{
    background: #000;
    color: #FFF;
}

.checkbox{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row-reverse;
    cursor: pointer;

    color: var(--checkbox-text);
    font-size: 16px;
    font-weight: bold;
    margin: 2px 0;
}

.checkbox-left{
    width: max-content;
}

.checkbox input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox .checkmark{
    height: 10px;
    width: 10px;
    background: none;
    border: var(--checkbox-text) 2px solid;
    margin-right: 8px;
    margin-top: 2px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox .checkmark-fill{
    background: var(--checkbox-filler);
    opacity: 0;
    height: 4px;
    width: 4px;

    transition: opacity .4s;
}

.checkbox input:checked ~ .checkmark .checkmark-fill {
    opacity: 1;
}

.invisible{
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
}

.bg-video{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    object-fit: cover;

    transition: filter .8s cubic-bezier(0.23, 1, 0.320, 1);
}

.bg-filter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-bg);
    z-index: 0;

    transition: all .8s cubic-bezier(0.23, 1, 0.320, 1);
}

.loading{
    font-size: inherit;
    font-weight: inherit;
    display: flex;
    opacity: 1;
    color: inherit;
    margin-left: 2px;
}

.loading *:nth-child(1) {
    opacity: .25;
    animation: pulse 1.5s 0s ease-in-out infinite;
}

.loading *:nth-child(2) {
    animation: pulse 1.5s .5s ease-in-out infinite;
}

.loading *:nth-child(3) {
    animation: pulse 1.5s 1s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        opacity: .25;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .25;
    }
}

@keyframes close {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* .hint-container{
    z-index: 420;
    position: absolute;
    padding: 2px 8px;
    bottom: 0;
    font-size: 14px;
    border-radius: 2px;
    font-weight: bold;
    background-color: rgba(var(--global-text-rgb), .1);
    color: var(--global-text);
} */

.smth-happening {
    display: flex;
    position: fixed;
    top: 92px;
    left: 0;
    width: 100vw;
    height: 4px;
    z-index: 42069;
    opacity: 1;

    transition: opacity .8s cubic-bezier(0.19, 1, 0.22, 1);
}

.smth-happening-hidden {
    opacity: 0;
}

.smth-happening-bar {
    position: relative;
    left: -16%;
    width: 16%;
    height: 100%;
    background-color: var(--global-clr);
}

.smth-happening-animation {
    animation: smth-happening 2.4s infinite linear;
}

@keyframes smth-happening {
    0% {
        left: -16%;
        width: 16%;
        animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    }

    50% {
        left:  40%;
        width: 20%;
        animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    100% {
        left: 100%;
        width: 16%;
        animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    }
}